extends ../popbase

block content
    form#careerForm.infoForm.metaForm(data-userid=`${loggedInUser._id}`,onsubmit="return false")
        if(company)
            div.inputBox
                label(for="companyName") 회사명
                input(id="companyName",name="companyName",type="text",placeholder="회사명",value=company.companyName)
            div.inputBox
                label(for="period") 기간
                input(id="period",name="period",type="text",placeholder="기간",value=company.period)
            div.inputBox
                label(for="role") 역할
                input(id="role",name="role",type="text",placeholder="역할",value=company.role)
            div.inputBox
                label(for="description") 맡았던 일
                textarea(id="description",name="description",placeholder="맡았던 일들",value=company.description,row="5",cols="30")
            div.inputBox
                label
                button#putCareerBtn(data-companyid=`${company._id}`,data-method="PUT") 경력 수정
        else
            div.inputBox
                label(for="companyName") 회사명
                input(id="companyName",name="companyName",type="text",placeholder="회사명")
            div.inputBox
                label(for="period") 기간
                input(id="period",name="period",type="text",placeholder="기간")
            div.inputBox
                label(for="role") 역할
                input(id="role",name="role",type="text",placeholder="역할")
            div.inputBox
                label(for="description") 맡았던 일
                textarea(id="description",name="description",placeholder="맡았던 일들",rows ="5",cols="30")
            div.inputBox
                label
                button#postCareerBtn 경력 추가

block scripts
    script(src="/assets/js/fetchData.js")