
extends base
include mixins/career
include mixins/project

block content
    div.resumeContainer
        if(loggedIn)    
            
            div.profile.infoBox
                    ul
                        li.name
                            p #{user.name}
                        li.age
                            p #{user.age}
                        li.sex
                            p #{user.sex}
                        li.email
                            p #{user.email}
                        li.phone
                            p #{user.phoneNumber}
                        li.address
                            p #{user.address}

            
            div.career.infobox
                
                div
                    button#careerPopBtn(data-url=`career`) 클릭
                    ul#career__ul
                        each career in user.careers
                            +career(career,true)
                        else
                            span.empty__message No Career Found
                                

            
            div.project.infobox
                div
                    button#projectPopBtn(data-url=`project`) 클릭
                    
                    ul
                        each project in user.projects
                            +project(proejct)
                        else
                            span.empty__message No Proejct Found
        

block scripts 
    script(src="/assets/js/popup.js")
    script(src="/assets/js/fetchData.js")
    
        





