
extends base
include mixins/career
include mixins/projectcapsule

block content
    div.resumeContainer
        
        if(loggedIn)    
            div.profile.infoBox  
                ul
                    li.name
                        span.kind 이름
                        span.detail__info #{user.name}
                    li.age
                        span.kind 나이 
                        span.detail__info #{user.age}
                    li.sex
                        span.kind 성별
                        span.detail__info #{user.sex}
                    li.email
                        span.kind 
                            i.fas.fa-envelope
                        span.detail__info #{user.email}   
                    li.phone
                        span.kind
                            i.fas.fa-phone
                        span.detail__info #{user.phoneNumber}
                    li.address
                        span.kind 
                            i.fas.fa-location-dot
                        span.detail__info #{user.address}
                div.profileImage
                    img(src=`/${user.avatarUrl}`, alt="이미지없음")
            hr
            div.career.infobox
                div.divide 경력
                div
                    ul
                        each career in user.careers
                            +career(career,false)
                        else
                            span.empty__message No Career Found
            hr                
            div.project.infobox
                div.divide 프로젝트
                div
                    ul
                        each project in user.projects
                            +projectcapsule(project,false)
                        else
                            span.empty__message No Proejct Found
        