
extends base
include mixins/career
include mixins/project

block content
    div.resumeContainer
        if(loggedIn)    
            
            div.profile.infoBox
                
                    ul
                        li.name
                            p #{user.name}
                        li.age
                            p #{user.age}
                        li.sex
                            p #{user.sex}
                        li.email
                            p #{user.email}
                        li.phone
                            p #{user.phoneNumber}
                        li.address
                            p #{user.address}
            
            div.career.infobox
                
                div
                    ul
                        each career in user.careers
                            +career(career,false)
                        else
                            span.empty__message No Career Found
                                
            
            div.project.infobox
                
                div
                    ul
                        each project in user.projects
                            +project(project,false)
                        else
                            span.empty__message No Proejct Found
        